body{
  background-color:rosybrown;
  font-family: Arial, sans-serif;
}
p{
  margin:  5px 0;
}
a{
  text-decoration: none;
}
.business-card{
  width: 300px;
  background-color: pink;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left :auto;
  margin-right: auto;
}

.profile-image{
  max-width: 100%;

}


/* links */
ul.sub-item-link{
  text-decoration: none;

}
.sub-item-link:link{
  text-decoration: none;
  
}

.sub-item-link:hover{
   color: blue;
}

.sub-item-link:visited{
  color: red
}
.sub-item-link:focus{
border:2px solid green;
}