body{
  background-color:rosybrown;
  font-family: Arial, sans-serif;
  /* background: linear-gradient(to right, rgb(230, 230, 59), rgb(217, 65, 65)); */
  background: radial-gradient(circle closest-side at center, red, yellow 50% , green);
  
}
p{
  margin:  5px 0;
}
a{
  text-decoration: none;
}
.business-card{
  width: 300px;
  background-color: pink;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left :auto;
  margin-right: auto;
}

.profile-image{
  max-width: 100%;

}


/* links */

.todo-list-container{
  background-color:linear-gradient(to right red,yellow);
  box-shadow: 5px 5px 5px #e7d0d0;
  
}

ul li{
 
  border: 1px solid #E4F1E5;
  margin: 5px;
  padding: 10px;
  width: 90%;
  /* background-color: #E4F1E5; */
  border-radius: 5px;
  box-shadow: 5px 5px  #bcc7bd;;
  background: radial-gradient(circle closet-side at center,red, yellow 50%,green );


}

.todo-list{
   list-style: none;
  border: 2px solid white;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction:  column;
  align-items: center;
  margin: 10px auto;
  width: 500px ;
  max-width: 400pc;
  font-size: 1.2rem;

}

.sub-item{
   
}
ul.sub-item-link{
  text-decoration: none;
   list-style-type: initial;


}
.sub-item-link{
 
 text-decoration: none;

}
.sub-item-link:link{
  text-decoration: none;
  list-style-type: initial;
  color: blue;
  
}

.sub-item-link:hover{
   color: red;
}

.sub-item-link:visited{
  color: blue;
}
.sub-item-link:focus{
border:2px solid green;
 color: green;
}

.sub-item-link:active{
  color: red;
}

/* Blog post */


.post-img{
  width: 300px;
  height: 300px;
}
.blog-post-card{
  border-radius: 5px;
  background-color: white;
  width: 500px;
  padding: 10px;
}

.blog-post-card >p{
  text-align: center;
}


.read-more{
  background-color: black;
  color: white;
  padding: 5px 5px;
  font-size: 1.2rem;
  border-radius:5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.read-more:hover{
  background-color:rgb(106, 93, 93)
}