body{
  background-color:rosybrown;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, rgb(230, 230, 59), rgb(217, 65, 65));
  /* background: radial-gradient(circle closest-side at center, red, yellow 50% , green); */
  
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
p{
  margin:  5px 0;
}
a{
  text-decoration: none;
}
.business-card{
  width: 300px;
  background-color: pink;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 20px;
  
 
}

.profile-image{
  max-width: 100%;

}


/* links */




.todo-list{
   list-style: none;
  border: 2px solid white;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction:  column;
  align-items: center;
  margin: 10px;
  width: 500px ;
  max-width: 350px;
  font-size: 1.2rem;
  
  border-radius: 20px;
  
}

ul li{
  border: 1px solid #E4F1E5;
  margin: 5px;
  padding: 10px;
  /* background-color: #E4F1E5; */
  border-radius: 10px;
  box-shadow: 5px 5px  #bcc7bd;;
  /* background: radial-gradient(circle closet-side at center,red, yellow 50%,green ); */
width: 80%;

}

ul.sub-item-link{
  text-decoration: none;
   list-style-type: initial;
}
.sub-item-link{
 
 text-decoration: none;

}
.sub-item-link:link{
  text-decoration: none;
  list-style-type: initial;
  color: blue;
  
}

.sub-item-link:hover{
   color: red;
}

.sub-item-link:visited{
  color: blue;
}
.sub-item-link:focus{
border:2px solid green;
 color: green;
}

.sub-item-link:active{
  color: red;
}

/* Blog post */


.blog-post-card{
  border-radius: 20px;
  background-color: white;
  width: 400px;
  padding: 10px;
  text-align: center;
  margin: 10px
}
.post-content{
  margin: 10px;
  color: #666677;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  border:2px solid rgb(194, 189, 189)
 
}
.post-content:hover{
    border:2px solid #d3dbd4;
    padding: 5px
}

.post-img{
  width: 380px;
  height: 320px;
 border-bottom: 2px solid #333;

}

img .post-img{
 border-bottom: 1.3rem;
}

.blog-post-card >p{
  text-align: center;
}

.read-more{
 display:inline-block;
  background-color: black;
  color: white;
  padding:5px;
  font-size: 1.2rem;
  border-radius:5px;
  margin: 5px;
  overflow: none;
}
.read-more:hover{
  background-color:rgb(106, 93, 93)
}
.post-title{
  margin: 12px 0 ; 
  font-weight: bold;
  color: #333;
}

.post-excerpt{
  color: #444444;
  
}

